<a href="https://colab.research.google.com/github/sudhakarmlal/Session8-END/blob/main/100_Python_Utilities.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# 1 Program:

#Write a program that accepts a comma separated sequence of words as 
#input and prints the words in a comma-separated sequence after sorting them alphabetically. 
#Suppose the following input is supplied to the program: without,hello,bag,world Then, the output should be: bag,hello,without,world


items=[x for x in input().split(',')]
items.sort()
print(','.join(items))

Hello,test the input,check the words in the sentence,split them by comma
Hello,check the words in the sentence,split them by comma,test the input

In [8]:
# 2 Program : Capitalizing set of lines given as input

lines = []
while True:
    s = input()
    if s:
        lines.append(s.upper())
    else:
        break;

for sentence in lines:
    print(sentence)

Hello How are u
Hello Iam fine
So whats up

HELLO HOW ARE U
HELLO IAM FINE
SO WHATS UP

In [10]:
# 3 Program :
#Write a program that accepts a sequence of whitespace separated words as
#input and prints the words after removing all duplicate words and sorting them alphanumerically. 
#Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
#Then, the output should be: again and hello makes perfect practice world

s = input()
words = [word for word in s.split(" ")]
print(" ".join(sorted(list(set(words)))))

hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

In [11]:
#4 Function:
#Define a class which has at least two methods: getString: to get a string from console input printString: to print the string in upper case. 
#Also please include simple test function to test the class methods.

class InputOutString(object):
    def __init__(self):
        self.s = ""

    def getString(self):
        self.s = input()
    
    def printString(self):
        print(self.s.upper())

strObj = InputOutString()
strObj.getString()
strObj.printString()

Test Input String
TEST INPUT STRING

In [12]:
#5 Program:
# Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. 
## The element value in the i-th row and j-th column of the array should be i*j. Note: i=0,1.., X-1; j=0,1,¡­Y-1. Example Suppose the following inputs are given to the program: 3,5 
## Then, the output of the program should be: [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

input_str = input()
dimensions=[int(x) for x in input_str.split(',')]
rowNum=dimensions[0]
colNum=dimensions[1]
multilist = [[0 for col in range(colNum)] for row in range(rowNum)]

for row in range(rowNum):
    for col in range(colNum):
        multilist[row][col]= row*col

print(multilist)

3,5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [13]:
#6 Program:

#Write a program, which will find all such numbers between 4000 and 5000 (both included) 
#such that each digit of the number is an even number. 
#The numbers obtained should be printed in a comma-separated sequence on a single line.

values = []
for i in range(4000, 5001):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0) and (int(s[3])%2==0):
        values.append(s)
print(",".join(values))

4000,4002,4004,4006,4008,4020,4022,4024,4026,4028,4040,4042,4044,4046,4048,4060,4062,4064,4066,4068,4080,4082,4084,4086,4088,4200,4202,4204,4206,4208,4220,4222,4224,4226,4228,4240,4242,4244,4246,4248,4260,4262,4264,4266,4268,4280,4282,4284,4286,4288,4400,4402,4404,4406,4408,4420,4422,4424,4426,4428,4440,4442,4444,4446,4448,4460,4462,4464,4466,4468,4480,4482,4484,4486,4488,4600,4602,4604,4606,4608,4620,4622,4624,4626,4628,4640,4642,4644,4646,4648,4660,4662,4664,4666,4668,4680,4682,4684,4686,4688,4800,4802,4804,4806,4808,4820,4822,4824,4826,4828,4840,4842,4844,4846,4848,4860,4862,4864,4866,4868,4880,4882,4884,4886,4888

In [14]:
#7 Program:

#Write a program that accepts a sentence and calculate the number of letters and digits. 
#Suppose the following input is supplied to the program: hello world! 123 Then, the output should be: LETTERS 10 DIGITS 3

s = input()
d={"DIGITS":0, "LETTERS":0}
for c in s:
    if c.isdigit():
        d["DIGITS"]+=1
    elif c.isalpha():
        d["LETTERS"]+=1
    else:
        pass
print("LETTERS", d["LETTERS"])
print("DIGITS", d["DIGITS"])

hello world! 123
LETTERS 10
DIGITS 3

In [15]:
#8 Program:

#Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters. Suppose the following input is supplied to the program: 
#Hello world! Then, the output should be: UPPER CASE 1 LOWER CASE 9

s = input()
d={"UPPER CASE":0, "LOWER CASE":0}
for c in s:
    if c.isupper():
        d["UPPER CASE"]+=1
    elif c.islower():
        d["LOWER CASE"]+=1
    else:
        pass
print("UPPER CASE", d["UPPER CASE"])
print("LOWER CASE", d["LOWER CASE"])

Hello world!
UPPER CASE 1
LOWER CASE 9

In [3]:
# 9 Program:

# Write a program to Display the powers of 3 using anonymous function

terms = 10


# use anonymous function
result = list(map(lambda x: 3 ** x, range(terms)))

print("The total terms are:",terms)
for i in range(terms):
   print("3 raised to power",i,"is",result[i])

The total terms are: 10
3 raised to power 0 is 1
3 raised to power 1 is 3
3 raised to power 2 is 9
3 raised to power 3 is 27
3 raised to power 4 is 81
3 raised to power 5 is 243
3 raised to power 6 is 729
3 raised to power 7 is 2187
3 raised to power 8 is 6561
3 raised to power 9 is 19683

In [5]:
#10 Python Function find the factors of a number

# This function computes the factor of the argument passed
def print_factors(x):
   print("The factors of",x,"are:")
   for i in range(1, x + 1):
       if x % i == 0:
           print(i)

num = 120

print_factors(num)

The factors of 120 are:
1
2
3
4
5
6
8
10
12
15
20
24
30
40
60
120

In [17]:
#11 Program 

#Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a. 
#Suppose the following input is supplied to the program: 9 Then, the output should be: 11106

a = input()
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
n4 = int( "%s%s%s%s" % (a,a,a,a) )
print(n1+n2+n3+n4)

9
11106

In [23]:
#12 Program

#Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers. 
#Suppose the following input is supplied to the program: 1,2,3,4,5,6,7,8,9 Then, the output should be: 1,3,5,7,9


values = input()
numbers = [x for x in values.split(",") if int(x)%2!=0]
print(",".join(numbers))

1,2,3,4,5,6,7,8,9
1,3,5,7,9

In [1]:
#13 Program

# Write a program that computes the net amount of a bank account based a transaction log from console input. 
# The transaction log format is shown as following: D 100 W 200

# D means deposit while W means withdrawal. 
# Suppose the following input is supplied to the program: D 300 D 300 W 200 D 100 Then, the output should be: 500

netAmount = 0
while True:
    s = input()
    if not s:
        break
    values = s.split(" ")
    operation = values[0]
    amount = int(values[1])
    if operation=="D":
        netAmount+=amount
    elif operation=="W":
        netAmount-=amount
    else:
        pass
print(netAmount)

D 300 D 300 W 200 D 100

300

In [4]:
#14 Program

#A website requires the users to input username and password to register. Write a program to check the validity of password input by users. 
#Following are the criteria for checking the password:

#At least 1 letter between [a-z]
#At least 1 number between [0-9]
#At least 1 letter between [A-Z]
#At least 1 character from [$#@]
#Minimum length of transaction password: 6
#Maximum length of transaction password: 12 Your program should accept a sequence of 
#comma separated passwords and will check them according to the above criteria. 
#Passwords that match the criteria are to be printed, each separated by a comma. 
#Example If the following passwords are given as input to the program: ABd1234@1,a F1#,2w3E*,2We3345 
# Then, the output of the program should be: ABd1234@1


import re
value = []
items=[x for x in input().split(',')]
for p in items:
    if len(p)<6 or len(p)>12:
        continue
    else:
        pass
    if not re.search("[a-z]",p):
        continue
    elif not re.search("[0-9]",p):
        continue
    elif not re.search("[A-Z]",p):
        continue
    elif not re.search("[$#@]",p):
        continue
    elif re.search("\s",p):
        continue
    else:
        pass
    value.append(p)
print(",".join(value))

ABd1234@1,a F1#,2w3E*,2We3345
ABd1234@1

In [9]:
#15 Program

#Define a class with a generator which can iterate the numbers, 
#which are divisible by 7, between a given range 0 and n.
def putNumbers(n):
    i = 0
    while i<n:
        j=i
        i=i+1
        if j%7==0:
            yield j

for i in putNumbers(100):
    print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [10]:
#16 Program

#A robot moves in a plane starting from the original point (0,0). 
#The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps. 
#The trace of robot movement is shown as the following: UP 5 DOWN 3 LEFT 3 RIGHT 2 ¡­
#The numbers after the direction are steps. 
#Please write a program to compute the distance from current position 
#after a sequence of movement and original point. 
#If the distance is a float, then just print the nearest integer. 
#Example: 
#If the following tuples are given as input to the program: UP 5 DOWN 3 LEFT 3 RIGHT 2 Then, the output of the program should be: 2

import math
pos = [0,0]
while True:
    s = input()
    if not s:
        break
    movement = s.split(" ")
    direction = movement[0]
    steps = int(movement[1])
    if direction=="UP":
        pos[0]+=steps
    elif direction=="DOWN":
        pos[0]-=steps
    elif direction=="LEFT":
        pos[1]-=steps
    elif direction=="RIGHT":
        pos[1]+=steps
    else:
        pass

print(int(round(math.sqrt(pos[1]**2+pos[0]**2))))

UP 5 DOWN 3 LEFT 3 RIGHT 2

5

In [16]:
#17 Program

#Write a program to compute the frequency of the words from the input. 
#The output should output after sorting the key alphanumerically. 
#Suppose the following input is supplied to the program: 
#New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3. 
#Then, the output should be: 2:2 3.:1 3?:1 New:1 Python:5 Read:1 and:1 between:1 choosing:1 or:2 to:1

freq = {}   # frequency of words in text
line = input()
for word in line.split():
    freq[word] = freq.get(word,0)+1

words = list(freq.keys())
print(words.sort())

for w in words:
    print("%s:%d" % (w,freq[w]))

New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.
None
2:2
3.:1
3?:1
New:1
Python:5
Read:1
and:1
between:1
choosing:1
or:2
to:1

In [18]:
#18 Function
#Write a method which can calculate square value of number

def square(num):
    return num ** 2

print(square(2))
print(square(3))

4
9

In [19]:
#19 Function

# Python has many built-in functions, and if you do not know how to use it, you can read document online or find some books. But Python has a built-in document function for every built-in functions.

#Please write a program to print some Python built-in functions documents, such as abs(), int(), raw_input()

#And add document for your own function Hints: The built-in document method is doc

print(abs.__doc__)
print(int.__doc__)
print(input.__doc__)

def square(num):
    '''Return the square value of the input number.
    
    The input number must be integer.
    '''
    return num ** 2

print(square(2))
print(square.__doc__)

Return the absolute value of the argument.
int(x=0) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
Forward raw_input to frontends

        Raises
        ------
        StdinNotImplentedError if active frontend doesn't support stdin.

4
Return the square value of the input number.

    The input number must be integer.

In [20]:
#20 Function
# Define a class, which have a class parameter and have a same instance parameter.

class Person:
    # Define the class parameter "name"
    name = "Person"
    
    def __init__(self, name = None):
        # self.name is the instance parameter
        self.name = name

jeffrey = Person("Jeffrey")
print("%s name is %s" % (Person.name, jeffrey.name))

nico = Person()
nico.name = "Nico"
print("%s name is %s" % (Person.name, nico.name))

Person name is Jeffrey
Person name is Nico

In [22]:
#21 Function
#Define a function that can convert a integer into a string and print it in console

def printValue(n):
    print(str(n))

printValue(3)

3

In [24]:
#22 Function

#Define a function that can receive two integral numbers in string form and compute their sum and then print it in console.

def printValue(s1,s2):
    print(int(s1)+int(s2))

printValue("3","4")

7

In [1]:
# 23 Function
#Define a function that can accept two strings as input and concatenate them and then print it in console.
def printValue(s1,s2):
    print(s1+s2)

printValue("3","4") #34

34

In [2]:
#24 Function
#Define a function that can accept two strings as input and print the string with maximum length in console. 
#If two strings have the same length, then the function should print al l strings line by line.

def printValue(s1,s2):
    len1 = len(s1)
    len2 = len(s2)
    if len1>len2:
        print(s1)
    elif len2>len1:
        print(s2)
    else:
        print(s1)
        print(s2)
        
printValue("one","three")

three

In [3]:
#25th Function

#Define a function which can print a dictionary where the 
#keys are numbers between 1 and 20 (both included) and the values are square of keys.

def printDict():
	d=dict()
	for i in range(1,21):
		d[i]=i**2
	print(d)

printDict()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [4]:
# 26th Function

#Define a function which can generate a dictionary where the keys are numbers between 
#1 and 20 (both included) and the values are square of keys. The function should just print the values only.

def printDict():
	d=dict()
	for i in range(1,21):
		d[i]=i**2
	for (k,v) in d.items():	
		print(v)

printDict()

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [5]:
#27th Function

#Define a function which can generate a dictionary where the keys are numbers between 
#1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

def printDict():
	d=dict()
	for i in range(1,21):
		d[i]=i**2
	for k in d.keys():	
		print(k)

printDict()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [6]:
#28th Function

#Define a function which can generate and print a list where the values are square of numbers between 1 and 20 (both included).

def printList():
	li=list()
	for i in range(1,21):
		li.append(i**2)
	print(li)

printList()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [7]:
#29th Function

#Define a function which can generate a list where the values are square of numbers between
# 1 and 20 (both included). Then the function needs to print the first 5 elements in the list.

def printList():
	li=list()
	for i in range(1,21):
		li.append(i**2)
	print(li[:5])

printList()

[1, 4, 9, 16, 25]

In [8]:
#30 Function

#Define a function which can generate a list where the values are square of numbers between 
#1 and 20 (both included). Then the function needs to print the last 5 elements in the list.

def printList():
	li=list()
	for i in range(1,21):
		li.append(i**2)
	print(li[-5:])

printList()

[256, 289, 324, 361, 400]

In [10]:
#31 Function

#Define a function which can generate a list where the values are square of numbers between 
#1 and 20 (both included). Then the function needs to print all values except the first 5 elements in the list.

def printList():
	li=list()
	for i in range(1,21):
		li.append(i**2)
	print (li[5:])

printList()

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [11]:
#32 Function

#Define a function which can generate and print a tuple 
#where the value are square of numbers between 1 and 20 (both included).

def printTuple():
	li=list()
	for i in range(1,21):
		li.append(i**2)
	print(tuple(li))
		
printTuple()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

In [12]:
#33 Function
#With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to

#print the first half values in one line and the last half values in one line.

tp=(1,2,3,4,5,6,7,8,9,10)
tp1=tp[:5]
tp2=tp[5:]
print(tp1)
print(tp2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

In [15]:
#34 Program

#Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10).

tp=(1,2,3,4,5,6,7,8,9,10)
li=list()
for i in range(len(tp)):
	if tp[i]%2==0:
		li.append(tp[i])

tp2=tuple(li)
print(tp2)

(2, 4, 6, 8, 10)

In [21]:
#35 Program

#Write a program which accepts a string as input to print 
#"Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No".

s= input()
if s=="yes" or s=="YES" or s=="Yes":
    print ("Yes")
else:
    print( "No")

Junk
No

In [23]:
#36 Program

#Write a program which can filter even numbers in a 
#list by using filter function. The list is: [1,2,3,4,5,6,7,8,9,10].

li = [1,2,3,4,5,6,7,8,9,10]
evenNumbers = list(filter(lambda x: x%2==0, li))
print(evenNumbers)

[2, 4, 6, 8, 10]

In [25]:
#37 Program
#Write a program which can map()
#to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

li = [1,2,3,4,5,6,7,8,9,10]
squaredNumbers = list(map(lambda x: x**2, li))
print(squaredNumbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
#38 Program

#Write a program which can map() and filter() to make a
# list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].

li = [1,2,3,4,5,6,7,8,9,10]
evenNumbers = list(map(lambda x: x**2, filter(lambda x: x%2==0, li)))
print(evenNumbers)

[4, 16, 36, 64, 100]

In [29]:
#39 Program

#Write a program which can filter() to make a list 
#whose elements are even number between 1 and 20 (both included)

evenNumbers = list(filter(lambda x: x%2==0, range(1,21)))
print(evenNumbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [31]:
#40 Program
#Write a program which can map() to make a 
#list whose elements are square of numbers between 1 and 20 (both included).

squaredNumbers = list(map(lambda x: x**2, range(1,21)))
print(squaredNumbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [32]:
#41 Function
# Define a class named American which has a static method called printNationality.

class American(object):
    @staticmethod
    def printNationality():
        print("America")

anAmerican = American()
anAmerican.printNationality()
American.printNationality()

America
America

In [34]:
#42 Program

#Define a class named American and its subclass NewYorker.

class American(object):
    pass

class NewYorker(American):
    pass

anAmerican = American()
aNewYorker = NewYorker()
print(anAmerican)
print(aNewYorker)

<__main__.American object at 0x7f4e81fc3f60>
<__main__.NewYorker object at 0x7f4e81fc3358>

In [36]:
#43 Function

#Define a class named Circle which can be constructed by a radius. 
#The Circle class has a method which can compute the area.

class Circle(object):
    def __init__(self, r):
        self.radius = r

    def area(self):
        return self.radius**2*3.14

aCircle = Circle(2)
print (aCircle.area())

12.56

In [38]:
#44 Function

#Define a class named Rectangle which can be constructed by a length and width. 
#The Rectangle class has a method which can compute the area.

class Rectangle(object):
    def __init__(self, l, w):
        self.length = l
        self.width  = w

    def area(self):
        return self.length*self.width

aRectangle = Rectangle(2,10)
print(aRectangle.area())

20

In [39]:
#45 Function 
#Define a class named Shape and its subclass Square. The Square class has an init function which takes a length as argument.
#Both classes have a area function which can print the area of the shape where Shape's area is 0 by default.


class Shape(object):
    def __init__(self):
        pass

    def area(self):
        return 0

class Square(Shape):
    def __init__(self, l):
        Shape.__init__(self)
        self.length = l

    def area(self):
        return self.length*self.length

aSquare= Square(3)
print(aSquare.area())

9

In [40]:
#46 Program
#Please raise a RuntimeError exception.

raise RuntimeError('something wrong')

RuntimeError: ignored

In [42]:
#47 Function
#Write a function to compute 5/0 and use try/except to catch the exceptions.

def throws():
    return 5/0

try:
    throws()
except ZeroDivisionError:
    print("division by zero!")
except Exception:
    print('Caught an exception')
finally:
    print('In finally block for cleanup')

division by zero!
In finally block for cleanup

In [45]:
#48 Function

#Define a custom exception class which takes a string message as attribute.

class MyError(Exception):
    """My own exception class

    Attributes:
        msg  -- explanation of the error
    """
    
    def __init__(self, msg):
        self.msg = msg

error = MyError("something wrong")
print(error)

something wrong

In [47]:
#49 Program

#Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the user name of a given email address. Both user names and company names are composed of letters only.

#Example: If the following email address is given as input to the program:

#john@google.com

#Then, the output of the program should be:

#john

#In case of input data being supplied to the question, it should be assumed to be a console input.

import re
emailAddress = input()
pat2 = "(\w+)@((\w+\.)+(com))"
r2 = re.match(pat2,emailAddress)
print(r2.group(1))

sudhakar272@gmail.com
sudhakar272

In [48]:
#50 Program
#Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.

#Example: If the following email address is given as input to the program:

#john@google.com

#Then, the output of the program should be:

#google

#In case of input data being supplied to the question, it should be assumed to be a console input.

import re
emailAddress = input()
pat2 = "(\w+)@(\w+)\.(com)"
r2 = re.match(pat2,emailAddress)
print(r2.group(2))

sudhakar272@gmail.com
gmail

In [50]:
#51 Program

#Write a program which accepts a sequence of words separated by whitespace as input to print the words composed of digits only.

#Example: If the following words is given as input to the program:

#2 cats and 3 dogs.

#Then, the output of the program should be:

#['2', '3']

#In case of input data being supplied to the question, it should be assumed to be a console input.

import re
s = input()
print(re.findall("\d+",s))

2 cats and 3 dogs
['2', '3']

In [51]:
#52 Program

#Print a unicode string "hello world".

unicodeString = u"hello world!"
print(unicodeString)

hello world!

In [57]:
#53 Program
#Write a program to compute 1/2+2/3+3/4+...+n/n+1 with a given n input by console (n>0).

#Example: If the following n is given as input to the program:

#5

#Then, the output of the program should be:

#3.55

#In case of input data being supplied to the question, it should be assumed to be a console input.

n=int(input())
sum=0.0
for i in range(1,n+1):
    sum += float(float(i)/(i+1))
print(sum)

5
3.5500000000000003

In [58]:
#54 Program

#Write a program to compute:

#f(n)=f(n-1)+100 when n>0 and f(0)=1

#with a given n input by console (n>0).

#Example: If the following n is given as input to the program:

#5

#Then, the output of the program should be:

#500

#In case of input data being supplied to the question, it should be assumed to be a console input

def f(n):
    if n==0:
        return 0
    else:
        return f(n-1)+100

n=int(input())
print(f(n))

5
500

In [59]:
#55 Function

#The Fibonacci Sequence is computed based on the following formula:

#f(n)=0 if n=0 f(n)=1 if n=1 f(n)=f(n-1)+f(n-2) if n>1

#Please write a program to compute the value of f(n) with a given n input by console.

#Example: If the following n is given as input to the program:

#7

#Then, the output of the program should be:

#13

#In case of input data being supplied to the question, it should be assumed to be a console input.

def f(n):
    if n == 0: return 0
    elif n == 1: return 1
    else: return f(n-1)+f(n-2)

n=int(input())
print(f(n))

7
13

In [60]:
#56 Function

#The Fibonacci Sequence is computed based on the following formula:

#f(n)=0 if n=0 f(n)=1 if n=1 f(n)=f(n-1)+f(n-2) if n>1

#Please write a program using list comprehension to print the Fibonacci Sequence in comma separated form with a given n input by console.

#Example: If the following n is given as input to the program:

#7

#Then, the output of the program should be:

#0,1,1,2,3,5,8,13

def f(n):
    if n == 0: return 0
    elif n == 1: return 1
    else: return f(n-1)+f(n-2)

n=int(input())
values = [str(f(x)) for x in range(0, n+1)]
print(",".join(values))

7
0,1,1,2,3,5,8,13

In [61]:
#57 Program

#Write a program using generator to print the even numbers between 0 and n in comma separated form while n is input by console.

#Example: If the following n is given as input to the program:

#10

#Then, the output of the program should be:

#0,2,4,6,8,10

def EvenGenerator(n):
    i=0
    while i<=n:
        if i%2==0:
            yield i
        i+=1


n=int(input())
values = []
for i in EvenGenerator(n):
    values.append(str(i))

print(",".join(values))

10
0,2,4,6,8,10

In [62]:
#58 Program

#Please write a program using generator to print the numbers which can be divisible by 5 and 7 between 0 and n in comma separated form while n is input by console.

#Example: If the following n is given as input to the program:

#100

#Then, the output of the program should be:

#0,35,70

def NumGenerator(n):
    for i in range(n+1):
        if i%5==0 and i%7==0:
            yield i#

n=int(input())
values = []
for i in NumGenerator(n):
    values.append(str(i))

print(",".join(values))

100
0,35,70

In [64]:
#59 Program
#Please write assert statements to verify that every number in the list [2,4,6,8] is even.

li = [2,4,6,8,5]
for i in li:
    assert i%2==0

AssertionError: ignored

In [65]:
#60 Program 
#Please write a program which accepts basic mathematic expression from console and print the evaluation result.

#Example: If the following string is given as input to the program:

#35+3

#Then, the output of the program should be:

#38

expression = input()
print(eval(expression))

35+3
38

In [ ]:
#61